<%- include('header'); -%>
<body>
  <img src="assets/millionaire-background.png" id="bg-img">
  <h1><%=myDay%>!</h1>
  <h2>What motivates you to be successful?</h2>

  <%- include('form'); -%>

  <%- include('main'); -%>

  
  
  <%- include('footer'); -%>
